# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Logs
*.log

# Databases
*.db
*.sqlite

# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
dist/
build/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
